# виртуальные окружения
venv/
.venv/

# данные и модели (большие файлы — отдельно)
data/
models/

# кэш питона
__pycache__/
*.pyc

# системные файлы macOS
.DS_Store

# временные файлы редакторов
*.swp
*.swo